<h1>Coach's Response</h1>

<p ><strong>Your Question:</strong> <%= @question %></p>
<p><strong>Coach's Answer:</strong> <%= @answer %></p>

<%= link_to "Ask Another Question", ask_path, class:"lien1" %>
